body {
    background-image: url(885238.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 30px;
}


.head{
    border: 1px solid white;
    margin: auto;
    padding:20px 20px 17vh 20px;
    backdrop-filter: blur(20px);
}

nav .ok{
    position: absolute;
    width: 60px;
    height: 40px;
    border: 1px solid rgb(109, 179, 236);
    border-radius: 15%;
    right: 92%;
    top: 19px;
}

.eh{
    position: absolute;
    width: 50%;
    top: 30%;
    left: 30dvw;
}

img{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(109, 179, 236);
    border-radius: 50%;
    display: block;
    margin-left: 80%;
}

button{
    width: 20%;
    padding: 10px;
    border-radius: 50px;
}

.first ul{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-left: 50%;
}


.first ul li a {
    color: black;
    text-decoration: none;
    text-align: right;
}

.first ul li a:hover{
    color: white;
    transition: .5s;
}

.search{
    width: 100%;
    padding: 10px ;
    border-radius: 50px;
}

h1{
    font-size: 50px;
}

.search button{
    width: 300px;
    padding: .5%;
    border-radius: 13px;
    border: 1px solid transparent;
}

button{
    background-color: transparent;
}

button a:hover{
    color: white;
    transition: .5s;
}

a{
    color: black;
    text-decoration: none;
}